<div class="centerBox">
    <div class="boxCenter">
<h1>Add a product!</h1>
{{!-- <p>{{errorMessage}}</p> --}}
{{#if errorMessage}}
<div class="errorBox">
<div class="errorText">
<p class="errrorMessage">{{errorMessage}}</p>
</div>
</div>

{{/if}}


<form action="/create-item" method="POST">

<select name="productName2" class="input">
    <option>Choose a product</option>
    {{#each defaultFoods}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>

<input type="text"class="input" name="productName" placeholder=".... or enter your own product">
<input type="date" class="input" name="dateOfPurchase" placeholder="dateOfPurchase">
<input type="date" class="input" name="expiryDate" placeholder="expiryDate">

<button id="buttonBlack" type="submit" class="submitButton">Create Item</button>

</form>


{{#if errorMessage}}
<script>

  let button = document.getElementById('buttonBlack');
  button.id = "redError";

setTimeout(function(){ 
  button.id = "buttonBlack"
   }, 700)
</script>
{{/if}}
</div>
</div>






