<div class="welcomeTextBox">
<div class="welcomeText">
<h1 id="welcomeHI">Hi {{user.username}}, 👋<br>
Welcome to your inventory</h1>


<form>
  <input id="search" type="text" name="search" method="GET" placeholder="Search">
</form>
</div>
</div>



{{#each foodItems}}
    {{> foodLine this.populatedFoodItems}}
{{/each}}


<div class="textCenter">
<a id="addItemMax" href="/create-item">
<div id="addPlusMax">
+ add item
</div>
</a>




<a id="addItemMin" href="/create-item">
<div id="addPlusMin">
+
</div>
</a> 

</div>