<div class="welcomeTextBox">
<div class="welcomeText">
<h1 id="welcomeHI">Hi {{user.username}} 👋.<br>
Welcome to your inventory</h1>


<form>
  <input id="search" type="text" name="search" onkeyup="myFunction()" placeholder="Search">
</form>
</div>
</div>



{{#each foodItems}}
    {{> foodLine this.populatedFoodItems}}
{{/each}}


<div class="textCenter">
<a id="addItemMax" href="/create-item">
<div id="addPlusMax">
+ add item
</div>
</a>




<a id="addItemMin" href="/create-item">
<div id="addPlusMin">
+
</div>
</a> 


<script>

function transformDate(date){
  const newDate=date.split(`-`)
  let copy= [...newDate]
  newDate[0]=copy[1]
  newDate[1]=copy[0]
  return newDate;
}

function calcDifference(date1,date2){

  const calcDate1= new Date(date1);
  const calcDate2= new Date(date2);

  const diffTime = calcDate2-calcDate1
  const diffDays = Math.ceil(diffTime /(1000 * 60 * 60 * 24))
  if(date1<date2)
  return diffDays;
}

function getTrafficLight(){
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();     
    today = mm + '/' + dd + '/' + yyyy;


    

    let date1;
    let date2;
    let itemArray=document.getElementsByClassName("itemList");
   

    let daysDiffDates;
    let daysDiffExpires;

    for(let i= 0;i<itemArray.length;i++){

      date1=itemArray[i].getElementsByClassName("dateOfPurchaseTest")[0].innerHTML
      date2=itemArray[i].getElementsByClassName("expiryDateTest")[0].innerHTML

      daysDiffDates=calcDifference(transformDate(date1),transformDate(date2));
      daysDiffExpires=calcDifference(transformDate(today),transformDate(date2))
      debugger
        if(daysDiffExpires<=0){
          itemArray[i].getElementsByClassName("expiredButtonBox")[0].style.display="flex"
        }else if(daysDiffExpires > daysDiffDates/2){
        itemArray[i].getElementsByClassName("greenButtonBox")[0].style.display="block"
        }else if(daysDiffExpires<(daysDiffDates/100*50)&&daysDiffExpires>daysDiffDates/100*20){
            itemArray[i].getElementsByClassName("yellowButtonBox")[0].style.display="block"
        }else if(daysDiffExpires<(daysDiffDates/100*20)){
            itemArray[i].getElementsByClassName("redButtonBox")[0].style.display="block"
        }
    

    }

}

  
getTrafficLight();


</script>
